@using MvcApplication2.Models.Generated
@model Author
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Author</legend>

    <fieldset class="fieldset">
        <legend>FirstName</legend>
        <div class="display-field">@Model.FirstName</div>
    </fieldset>
    <fieldset class="fieldset">
        <legend>LastName</legend>
        <div class="display-field">@Model.LastName</div>

    </fieldset>
    <fieldset class="fieldset">
        <legend>Email</legend>
        <div class="display-field">@Model.Email</div>
    </fieldset>
    <fieldset class="fieldset">
        <legend>Articles</legend>
        <div class="display-field">@(Model.Articles == null ? "None" : Model.Articles.Count.ToString())</div>
    </fieldset>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index", "Authors", null, new { @class = "btn btn-inverse" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-inverse" })
</p>


