@using MvcApplication2.Models.Generated
@using MvcApplication2.Lib
@model Article
<h2>Details</h2>
<fieldset class="fieldset">
    <legend>Article</legend>
    @if (Model != null)
    {
        <fieldset class="fieldset">
            <legend>Id</legend>
            <div class="display-field">@Model.Id</div>
        </fieldset>
        <fieldset class="fieldset">
            <legend>Title</legend>
            <div class="display-field">@Model.Title</div>
        </fieldset>
        <fieldset class="fieldset">
            <legend>Text</legend>
            <div class="display-field">@Model.Text</div>
        </fieldset>
        <fieldset class="fieldset">
            <legend>DateCreated</legend>
            <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>
        </fieldset>
        <fieldset class="fieldset">
            <legend>IdAuthor</legend>
            <div class="display-field">@Model.IdAuthor</div>
        </fieldset>
        <fieldset class="fieldset">
            <legend>Author</legend>
            <div class="display-field">@(Model.Author == null ? "None" : Model.Author.LastName)</div>
        </fieldset>
        <br />
    }
    else
    {
        <p>Aucun article ne possède cet id</p>
    }

</fieldset>
<p>
     @Html.ActionLink("Back to List", "Index","Articles",null,new {@class="btn btn-inverse"})
</p>


