@using MvcApplication2.Models.Generated
@model List<Article>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-hover">
    <tr>
        <th>
        </th>
        <th>Title
        </th>
        <th>Text
        </th>
        <th>DateCreated
        </th>
        <th>IdAuthor
        </th>
        <th>Author
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="minSizeTD">
                @Html.ActionLink("Details", "Details", "Articles", new { item.Id }, new {@class="btn btn-inverse"})
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @if (@item.Text.Length > 99)
                {
                    @item.Text.Substring(0, 99)
                }
                else
                {
                    @item.Text
                }

            </td>
            <td>
                @String.Format("{0:g}", item.DateCreated)
            </td>
            <td>
                @item.IdAuthor
            </td>
            <td>
                @(item.Author == null ? "None" : item.Author.LastName)
            </td>
        </tr>
    }

</table>
<p style="text-align:right;margin-top:50px">

    @Html.ActionLink("Create New", "Create","Articles",new {@class="btn btn-success"})
</p>


