@using MvcApplication2.Models.Generated
@model Article
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Article</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Text</div>
    <div class="display-field">@Model.Text</div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>

    <div class="display-label">IdAuthor</div>
    <div class="display-field">@Model.IdAuthor</div>

    <div class="display-label">Author</div>
    <div class="display-field">@(Model.Author == null ? "None" : Model.Author.LastName)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
     @Html.ActionLink("Back to List", "Index","Articles",
                null,new {@class="btn btn-inverse"})
</p>


